{% extends "main/layout.html" %}
{% block content %}
{% load static %}
<div class="section" id="about">
    <h3>О КОМПАНИИ</h3>
    <div class="row">
        <div class="col s12 m12">
            <div class="card-panel red">
        <span class="white-text">
            STERLING— прямой регистратор оффшорных компаний и счетов с 2004 года. Компанию и счет Вы получите из первых рук без посредников по самым низким ценам и в течение 24 часов.
        </span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col l6 s12 m6">
            <div class="card  yellow lighten-5">
                <div class="card-image orange-text right">
                    <i class="large material-icons">check</i>
                </div>
                <div class="card-content t">
                    <span class="card-title">КАК ЗАКАЗАТЬ?</span>
                    <p>Заполните краткую анкету с приложением скана паспорта и внесите аванс на сайте.
                        Документы в электронном виде Вы получите на e-mail и сможет начать работу</p>
                </div>
                <div class="card-action">
                    <a href="#">Форма</a>
                </div>
            </div>

        </div>
        <div class="col l6 s12 m6">
            <div class="card yellow lighten-5">
                <div class="card-image orange-text right">
                    <i class="large material-icons">sync</i>
                </div>
                <div class="card-content">
                    <span class="card-title">КАК ПОЛУЧИТЬ ДОКУМЕНТЫ?</span>

                    <p>В течение 1 дня после оплаты аванса мы регистрируем компанию, открываем расчетный счет и
                        высылаем электронные документы на e-mail.
                        Оригиналы с апостилями и печатями в течение двух недель курьер доставит по указанному Вами
                        адресу.</p>
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h3>ГАРАНТИИ</h3>
    <div class="row">
        <div class="col l6 s12 m12">
            <div class="card-panel red">
        <span class="white-text">
            Основную часть оплаты мы получаем только после полного оказания услуги. Аванс оплачивается на счет российской организации с многолетней историей. Вы всегда сможете истребовать возврат аванса, если посчитаете нужным.
        </span>
            </div>
        </div>

        <div class="col l6 s12 m12">
            <div class="card-panel red">
        <span class="white-text">Выпуск корпоративной карты Mastercard. Для выпуска карты нужен только скан паспорта и подтверждения адреса ЕС без заверения и апостиля.
Стоимость карты 50 eur</span>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <h3>Дополнительные услуги</h3>
    <div class="row">
        <div class="col l6 s12 m7">
            <h5 class="header">НАЛОГОВОЕ ПЛАНИРОВАНИЕ</h5>
            <div class="card yellow lighten-5 horizontal">
                <div class="card-image orange-text">
                    <i class="large material-icons">access_time</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Международное налоговое планирование – оптимизация налогообложения путем минимизации налогов
                            с помощью оффшорных компаний.</p>
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger" href="#modal1">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 s12 m7">
            <h5 class="header">РАБОТА С ОФФШОРАМИ</h5>
            <div class="card yellow lighten-5 horizontal">
                <div class="card-image orange-text">
                    <i class="large material-icons">beach_access</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>С осени 2014 работать стало тяжелее ввиду попыток ужесточить режим деятельности оффшоров
                            посредством введения закона "КИК", а также трудностями с так называемыми "транзитными"
                            операциями.</p>
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger" href="#modal1">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 s12 m7">
            <h5 class="header">ЗАЩИТА АКТИВОВ</h5>
            <div class="card yellow lighten-5 horizontal">
                <div class="card-image orange-text">
                    <i class="large material-icons">security</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Довольно часто владельцы оффшоров не обладают подробной информацией о том, какой уровень
                            защиты активов и конфиденциальности предлагает им та или иная оффшорная зона.</p>
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger" href="#modal1">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 s12 m7">
            <h5 class="header">МЕРЧАНТ, ФОРЕКС, КАЗИНО</h5>
            <div class="card yellow lighten-5 horizontal">
                <div class="card-image orange-text">
                    <i class="large material-icons">attach_money</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Мерчант аккаунт — специальный торговый счет, который позволяет принимать платежи с
                            пластиковых карт через сеть Интернет.</p>
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger" href="#modal1">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h3>Контактная информация и офисы компании</h3>
        <div class="row">
            <div class="col l6 s12 m12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content center">
                        <p class="flow-text">+7 495 227 58 09</p>
                        <p class="flow-text"><a class="red-text" href="mailto:order@1sterling.uk">order@1sterling.uk</a></p>
                        <br>
                        <p class="flow-text">Центральный офис (РФ): Россия, 129515, г. Москва, ул. 127055, РФ, Москва, Новослободская 20, этаж 3,
офис 33</p>
                        <br>

                         <h5>ВРЕМЯ РАБОТЫ</h5>
                                                <p class="flow-text">понедельник-пятница
                            <br>
                            с 09:00 до 18:00 по Москве</p>
                    </div>

                </div>
            </div>
            </div>
            <div class="col l6 s12 m12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Чехия</div>
                        <div class="collapsible-body"><span>Europay s.r.o.
Nove Mesto, Zitna 1578/52, 120 00 Prague</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Литва</div>
                        <div class="collapsible-body"><span>ул. А. Вивульскё 7-627, Вильнюс, LT-02175</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Сент-Люсия</div>
                        <div class="collapsible-body"><span>Sterling Bank Corp
Hewanorra House, Pointe Seraphine, P.O. Box 1209, Castries, West Indies</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Чехия</div>
                        <div class="collapsible-body"><span>Europay s.r.o.
Nove Mesto, Zitna 1578/52, 120 00 Prague</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Литва</div>
                        <div class="collapsible-body"><span>ул. А. Вивульскё 7-627, Вильнюс, LT-02175</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Сент-Люсия</div>
                        <div class="collapsible-body"><span>Sterling Bank Corp
Hewanorra House, Pointe Seraphine, P.O. Box 1209, Castries, West Indies</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Чехия</div>
                        <div class="collapsible-body"><span>Europay s.r.o.
Nove Mesto, Zitna 1578/52, 120 00 Prague</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Литва</div>
                        <div class="collapsible-body"><span>ул. А. Вивульскё 7-627, Вильнюс, LT-02175</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Сент-Люсия</div>
                        <div class="collapsible-body"><span>Sterling Bank Corp
Hewanorra House, Pointe Seraphine, P.O. Box 1209, Castries, West Indies</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Чехия</div>
                        <div class="collapsible-body"><span>Europay s.r.o.
Nove Mesto, Zitna 1578/52, 120 00 Prague</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">chevron_right</i>Литва</div>
                        <div class="collapsible-body"><span>ул. А. Вивульскё 7-627, Вильнюс, LT-02175</span></div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
<div class="divider"></div>
<div class="section">
    <div class="row">
         <h5>Остались вопросы? Пишете нам</h5>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" required="true">
                    <label for="icon_prefix">Имя</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_email" type="email" class="validate" required="true">
                    <label for="icon_email">E-mail</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
</div>
{% endblock %}