<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="navbar-fixed  red lighten-1">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center"><img src="/media/sterling_logo_100.png" alt="sterling"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#!">О компании</a></li>
                <li><a href="#!">Гарантии</a></li>
                <li><a href="#!">Время работы</a></li>
                <li><a href="#!">Контактная информация</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#!">О компани</a></li>
        <li><a href="#!">Гарантии</a></li>
        <li><a href="#!">Время работы</a></li>
        <li><a href="#!">Контактная информация</a></li>
        <li><a href="tel:+74952275809"><i class="material-icons left">local_phone</i>+7 495 227 58 09</a></li>
        <li><a href="tel:+380930120717"><i class="material-icons left">local_phone</i>+38 093 012 07 17</a></li>
        <li><a href="tel:+37060675075"><i class="material-icons left">local_phone</i>+370 606 75075</a></li>
        <li><a href="mailto:order@1sterling.uk"><i class="material-icons left">email</i>order@1sterling.uk</a></li>
    </ul>
</div>
<div class="divider"></div>
<div class="parallax-container">
    <div class="parallax"><img src="/media/parallax1.jpg" alt="My image"></div>
</div>
<div class="container">
    <!-- Page Content goes here -->
    {% block content %}{% endblock %}
</div>
<div class="divider"></div>
<div class="parallax-container">
    <div class="parallax"><img src="/media/parallax1.jpg" alt="My image"></div>
</div>
</body>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">STERLING</h5>
                <p class="grey-text text-lighten-4">ПРЯМОЙ РЕГИСТРАТОР ЗАРУБЕЖНЫХ КОМПАНИЙ И СЧЕТОВ</p>
            </div>
            <div class="col l2 offset-l2 s12">
                <h5 class="white-text">Меню</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">О компании</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Гарантии</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Время работы</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Контактная информация</a></li>
                </ul>
            </div>
            <div class="col l2 offset-l2 s12">
                <h5 class="white-text">Контакты</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="tel:+74952275809">+7 495 227 58 09</a></li>
                    <li><a class="grey-text text-lighten-3" href="tel:+380930120717">+38 093 012 07 17</a></li>
                    <li><a class="grey-text text-lighten-3" href="tel:+37060675075">+370 606 75075</a></li>
                    <li><a class="grey-text text-lighten-3" href="mailto:order@1sterling.uk">order@1sterling.uk</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Sterling
        </div>
    </div>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
            var sidenavs = document.querySelectorAll('.sidenav')
            for (var i = 0; i < sidenavs.length; i++){
                M.Sidenav.init(sidenavs[i]);
            }
             var parallax = document.querySelectorAll('.parallax')
            for (var i = 0; i < parallax.length; i++){
                M.Parallax.init(parallax[i]);
            }
             var carousel = document.querySelectorAll('.carousel');
             for (var i = 0; i < carousel.length; i++){
                M.Carousel.init(carousel[i]);
            }
             var modal = document.querySelectorAll('.modal');
             for (var i = 0; i < modal.length; i++){
                M.Modal.init(modal);
            }
            var collapsible = document.querySelectorAll('.collapsible');
             for (var i = 0; i < collapsible.length; i++){
                M.Collapsible.init(collapsible[i]);
            }
          });
    </script>
</footer>
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>
</html>